name: Publish to Pypi

on:
  # Creates a reusable workflow
  workflow_call:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/buildwheel.yml
  pypi-publish:
    name: Publish to PyPI
    needs: [build]
    permissions:
      id-token: write
    environment:
      name: release
      url: https://pypi.org/p/ngo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: wheel
          path: dist
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
          repository-url: https://upload.pypi.org/legacy/
